<div id="container">
    
    <header>
        <nav id="menu">
        <ul>
            <li>
                <a href="indx.html">Inicio</a>      
            </li>
            <li>
                <a href="indx.html">Contáctenos</a>      
            </li>
        </ul>
        </nav>
        <div class="page-title">
            <h1 class="col-5">Registrando Tareas</h1> 
        </div>
    </header>
    <Div id="app-component">
        <div id="app-formulario">
            <app-formulario></app-formulario>
        </div>
        <div id="app-lista">
            <app-lista></app-lista>
        </div>
    </Div>
    <footer>
        &nbsp;
        <div class="patrocinado">
        Patrocinado por Isthmus Software:
        <img src='./assets/iconIsthmus.png' width="40px">
        <a href="https://www.facebook.com/isthmusCR"><img src='./assets/Face.jpg' width="40px"></a>  
        Desarrollado por Erick, Sirlen y Roberto - Curso-Angular &copy; 2020
        </div>
    </footer>
</div>