/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: #cef1ec;    
}
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    background-image: url(assets/Fondo.jpg);    
    background-size: cover;
    position: relative;
    margin: 2em;
}
​
​
header{
  background-color: red;
}
